/***Custom Styles for my Foundation Project

Created By: Corey Baker 2014
With ok coding practices and a lot of heart.


 ***/

 body {
 
 }

 .top-bar {
 	position:static;
 }

 .top-bar-section ul li.active  > a {
 	background:none;
 }

.top-bar-section ul li.active > a:hover {
	background:red;
}

.pic_wrapper {
	width:100%;
}

.pic_wrapper img {
	width:100%;
}

.message, .small_message {
	text-align:center;
	margin-top:4em;
}

.message span, .small_message span {
	color:red;
}

.small_message h2:before {
content: "-";
}



