/***Custom Styles for my Foundation Project

Created By: Corey Baker 2014
With ok coding practices and a lot of heart.


 ***/

 body {
 
 }

 .top-bar {
 	position:static;
 }

 .top-bar-section ul li.active  > a {
 	background:none;
 }

.pic_wrapper {
	width:100%;
}

.pic_wrapper img {
	width:100%;
}

.message {
	text-align:center;
}


@media all and (max-width:539px) {

#main_message h2 {
	text-align:left;
}



}